html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0; 
    padding: 0; 
}

#header_logo {
    padding: 15px 0; 
    text-align: center;
}

#header_logo img{
    margin: 10px 0; 
}

  
.location {
    background: #e7e3e3;
    display: flex;
    justify-content: center;
    box-shadow: inset 0px 3px 5px 0px #bbbbbb;
    color: #525252;
    padding: 15px 5px;
    margin-top: 5px;
    text-align: center;
}

.location i {
    margin-right: 5px;
}

.locationDiv {
    border: none;
    background: none;
    font-size: 1em;
    font-weight: bold;
    color: #525252;

}
  
.booking {
    background-color: #f1eeee;
    padding: 30px 0;
    text-align: center;
}

.booking_content {
    margin: 0 auto; 
   
}

#bookingHeader {
    font-weight: bold;
    font-size: 1.5em;
}

#bookingPar {
    color: #585858;
    text-align: center;
    font-size: 1.1em;
    margin: 10px 15px; 
}

#bookingButton {
    color: white;
    border: none;
    display: block; 
    margin: 0 auto 0;
    padding: 15px;
    font: bold;
    font-size: 15px;
    border-radius: 25px;
    background: linear-gradient(#fd71d6 , #894fd1);
    box-shadow: 0px 4px 4px 4px #e0e0e0;
    transition: 0.3s ease-in-out;
}
  
.info {
    margin: 40px;
} 

.rounded-button {
    position: relative;
    background-color: #f3f2f2;
    border-radius: 25px;
    border: 1px solid;
    padding: 30px 100px 25px 0px;
    margin-bottom: 20px;
    margin-right: 10px;
    box-shadow: 0px 4px 4px 4px #e0e0e0;
    border: none;
    flex-wrap: nowrap;
}
  
.overlapping-number {
    border-radius: 50%;
    position: absolute;
    left: -10px;
    display: block;
    background-color: #8b53cf;
    color: #fff;
    height: 25px;
    width: 25px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.button_text{
    font-weight: bold;
    margin: 0px 0 0 30px;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}

.button_text i{
    color: #7e7e7e;
    margin-right: 20px;
    font-size: 19px;
}

#purple_rounded-button{
    background-color: #f7f2fd;
    position: relative;
    border-radius: 25px;
    border: 1px solid;
    padding: 30px 40px 25px 0px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 4px 4px #e0e0e0;
    border: none;
    flex-wrap: nowrap;
}

#purple_button_icon{
    color: #874ecc;
}
    
.menus {
    padding: 20px;
    background-color: #f1eeee;
}

  
.single_menu {
    border-radius: 25px;
    background-color: white;
    box-shadow: 0px 4px 4px 4px #e0e0e0;
    margin-bottom: 20px;
}

.menu_link{
    text-decoration: none;
    color: black;
}
  
.new_menu {
    display: flex;
    justify-content: flex-end;
}

.new_menu_span {
    background-color: #95ebd5;
    margin-right: 20px;
    margin-top: 10px;
    padding: 5px 20px;
    position: absolute;
    color: #059c77;
    border-radius: 5px;
    font-size: 15px;
}
  
.single_menu img {
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
}
  
.new_menu_description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.new_menu_description h3 {
    font-size: 1.2em;
    margin: 2px 0px 10px 20px;
}

.new_menu_description p {
    font-size: 1.1em;
    margin: 0px 0px 10px 20px;
    color: #353535;
}

.new_menu_description i {
    position: absolute;
    top: 0;
    right: 10px;
}

  
.fa-heart {
    font-size: 1.6em;
    color: transparent;
    -webkit-text-stroke: 1px black;
    width: 30px;
    text-align: center;
}
  
.fa-heart:hover {
    background:  linear-gradient(#fd71d6 , #894fd1);
    animation: fill 1s both;
    -webkit-background-clip: text;
    -webkit-text-stroke: 0;
}

  
  footer {
    background-color: #353535;
    padding: 15px;
  }
  
#para_logo {
    font-family: Shrikhand;
    text-decoration: none;
    color: white;
    font-size: 18px
  }
  
#footer_ul {
    list-style: none;
  }
  
#footer_ul li {
    margin-bottom: 10px;
    color: white;
    margin-left: -40px;
}

#footer_ul li i{
    margin-right: 10px;
}
  

  

@media (max-width: 768px) {
    #logo {
        width: 200px;
    }

    .all_menus {
        display: flex;
        flex-direction: column;
    }

    .single_menu {
        border-radius: 25px;
        background-color: white;
        box-shadow: 0px 4px 4px 4px #e0e0e0;
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) {

    .info {
        margin: 40px;
        display: flex;
        justify-content: space-between;
    } 

    .all_menus {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    
    .single_menu {
      width: calc(50% - 10px); /* Adjust as needed */
    }

    .single_menu img {
        width: 100%;
        height: 350px;
        border-radius: 15px 15px 0 0;
    }
  }