.ohmyfood {
    display: flex;   
}
.ohmyfood img{
  height: 30px;
  padding-inline-start: 90px;
}
.filter {
    border: solid #9356DC; 
    border-block-color: #9356DC;
    background: #9356DC;
    width: 400px;
    padding-inline-start: 110px;
    margin-inline-start: -10px;
    
  
}

.icon
{
  display: inline-block;
  width: 8px;
  height: 8px;
}
.menu {
  background-color: #f2f2f2;
}
.book {
  font-size: 20px;
  font-weight: bold;
  padding-left: 85px;
  padding-top: 20px;
}
.discover {
  font-size: 17px;
  padding-left: 60px;
  padding-top: 30px;
}
.discover1 {
  font-size:15px;
  padding-left: 130px;
}
.explore {
  position: relative;
  padding-left: 100px;
  padding-top: 40px;
}
.works {
  font-size: 12px;
}

.list {
  display: flex;
  position: relative;
  
}
.phone {
  border: 3px solid #f2f2f2;
  border-radius: 25px 0px 0px 25px; 
  background: grey;
  
}
.icon {
  display: inline-block;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}
.restaurant img {
  width: 50%
}
.content {
  font-size: 8px;
}
 
