.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #8b53cf;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #8b53cf transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff; 
    z-index: 9999; 
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1; 
    pointer-events: none; 
    animation: hide-loading 2s linear forwards; 
}

@keyframes hide-loading {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0; 
    padding: 0; 
}


#header_logo {
    padding: 15px 0; 
    text-align: center;
}

#header_logo img{
    margin: 10px 0; 
}

  
.location {
    background: #e7e3e3;
    display: flex;
    justify-content: center;
    box-shadow: inset 0px 3px 5px 0px #bbbbbb;
    color: #525252;
    padding: 15px 5px;
    margin-top: 5px;
    text-align: center;
}

.location i {
    margin-right: 5px;
}

.locationDiv {
    border: none;
    background: none;
    font-size: 1em;
    font-weight: bold;
    color: #525252;

}
  
.booking {
    background-color: #f1eeee;
    padding: 30px 0;
    text-align: center;
}

.booking_content {
    margin: 0 auto; 
   
}

#bookingHeader {
    font-weight: bold;
    font-size: 1.5em;
}

#bookingPar {
    color: #585858;
    text-align: center;
    font-size: 1.1em;
    margin: 10px 15px; 
}

#bookingButton {
    color: white;
    border: none;
    display: block; 
    margin: 0 auto 0;
    padding: 15px;
    font: bold;
    font-size: 15px;
    border-radius: 25px;
    background: linear-gradient(#fd71d6 , #894fd1);
    box-shadow: 0px 4px 4px 4px #e0e0e0;
    transition: 0.3s ease-in-out;
}
  
.info {
    margin: 40px;
} 

.rounded-button {
    position: relative;
    background-color: #f3f2f2;
    border-radius: 25px;
    border: 1px solid;
    padding: 30px 100px 25px 0px;
    margin-bottom: 20px;
    margin-right: 10px;
    box-shadow: 0px 4px 4px 4px #e0e0e0;
    border: none;
    flex-wrap: nowrap;
}
  
.overlapping-number {
    border-radius: 50%;
    position: absolute;
    left: -10px;
    display: block;
    background-color: #8b53cf;
    color: #fff;
    height: 25px;
    width: 25px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.bt_text{
    font-weight: bold;
    margin: 0px 0 0 30px;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}

.bt_text i{
    color: #7e7e7e;
    margin-right: 20px;
    font-size: 19px;
}

#purple_rounded-button{
    background-color: #f7f2fd;
    position: relative;
    border-radius: 25px;
    border: 1px solid;
    padding: 30px 40px 25px 0px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 4px 4px #e0e0e0;
    border: none;
    flex-wrap: nowrap;
}

#purple_button_icon{
    color: #874ecc;
}
    
.menus {
    padding: 20px;
    background-color: #f1eeee;
}

  
.single_menu {
    border-radius: 25px;
    background-color: white;
    box-shadow: 0px 4px 4px 4px #e0e0e0;
    margin-bottom: 20px;
}

.menu_link{
    text-decoration: none;
    color: black;
}
  
.new_menu {
    display: flex;
    justify-content: flex-end;
}

.new_menu_span {
    background-color: #95ebd5;
    margin-right: 20px;
    margin-top: 10px;
    padding: 5px 20px;
    position: absolute;
    color: #059c77;
    border-radius: 5px;
    font-size: 15px;
}
  
.single_menu img {
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
}
  
.new_menu_description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.new_menu_description h3 {
    font-size: 1.2em;
    margin: 2px 0px 10px 20px;
}

.new_menu_description p {
    font-size: 1.1em;
    margin: 0px 0px 10px 20px;
    color: #353535;
}

.new_menu_description i {
    position: absolute;
    top: 0;
    right: 10px;
}

  
.fa-heart {
    font-size: 1.6em;
    color: transparent;
    -webkit-text-stroke: 1px black;
    width: 30px;
    text-align: center;
}
  
.fa-heart:hover {
    background:  linear-gradient(#fd71d6 , #894fd1);
    animation: fill 1s both;
    -webkit-background-clip: text;
    -webkit-text-stroke: 0;
}

  
  footer {
    background-color: #353535;
    padding: 15px;
  }
  
#para_logo {
    font-family: Shrikhand;
    text-decoration: none;
    color: white;
    font-size: 18px
  }
  
#footer_ul {
    list-style: none;
  }
  
#footer_ul li {
    margin-bottom: 10px;
    color: white;
    margin-left: -40px;
}

#footer_ul li i{
    margin-right: 10px;
}

#footer_ul li a{
    color: white;
    text-decoration: none;
}
  

  

@media (max-width: 768px) {
    #logo {
        width: 200px;
    }

    .all_menus {
        display: flex;
        flex-direction: column;
    }

    .single_menu {
        border-radius: 25px;
        background-color: white;
        box-shadow: 0px 4px 4px 4px #e0e0e0;
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) {

    .info {
        margin: 40px;
        display: flex;
        justify-content: space-between;
    } 

    .all_menus {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    
    .single_menu {
      width: calc(50% - 10px); 
    }

    .single_menu img {
        width: 100%;
        height: 350px;
        border-radius: 15px 15px 0 0;
    }

    .main_menu .main_dish {
        border-bottom: 2px solid #8fd8c6;
        padding-bottom: 8px;
        width: 10%; 
        margin-bottom: 10px; 
    }

    .food2 {
        height: 100px;
    }

    .food2 img {
        height: 350%;
    }
}


.food1 {
    height: 180px;
}
  
.food1 img {
    width: 100%;
}

.food2 {
    height: 180px;
}
  
.food2 img {
    width: 100%;
}
  
  
.all_menu {
    background-color: #f0ecec;
    padding-bottom: 30px;
    position: relative;
    border-radius: 25px 25px 0 0; 
}

.menu_title{
    display: flex;
    margin: 0px 10px 0px 10px;
    justify-content: space-between;
    align-items: center;
}
  
.menu_title h1 {
    font-family: Shrikhand;
}

.main_menu {
    display: flex;
    flex-direction: column;
}

.main_menu .main_dish {
    border-bottom: 2px solid #8fd8c6;
    padding-bottom: 8px;
    width: 150px; 
    margin-bottom: 20px; 
}


.main_menu h2 {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #8fd8c6;
    padding-bottom: 8px;
    width: 60px;
}

  
.category_menu {
    display: flex;
    flex-direction: column;
}
  
.animation_area {
    display: flex;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0px 4px 5px 3px #dbdbdb;
    animation: fadein 1s both;
}
  
.header_category {
    width: 100%;
    margin: -10px 20px -10px 10px;
} 
 
.details_menu {
    display: flex; 
    justify-content: space-between;
    margin-top: -35px;
  }
  
.details_menu2 {
    font-weight: bold;
}

.animation_area--1 {
    animation-delay: 0.3s;
}
  
.animation_area--2 {
    animation-delay: 0.6s;
}
  
.animation_area--3 {
    animation-delay: 0.9s;
}
  
.animation_area--4 {
    animation-delay: 1.2s;
}
  
.animation_area--5 {
    animation-delay: 1.5s;
}
  
.animation_area--6 {
    animation-delay: 1.8s;
}
  
.animation_area--7 {
    animation-delay: 2.1s;
}
  
.animation_area--8 {
    animation-delay: 2.4s;
}
  
.animation_area--9 {
    animation-delay: 2.7s;
}

.animation_area--10 {
    animation-delay: 3.0s;
}
  
  
@keyframes fadein {
    0% {
      opacity: 0;
      margin-top: 5px;
   
    }
    100% {
      opacity: 1;
      margin-top: 0px;
    }
}

#orderButton {
    color: white;
    border: none;
    display: block; 
    margin: 20px auto 20px;
    padding: 15px 60px;
    font: bold;
    font-size: 15px;
    border-radius: 25px;
    background: linear-gradient(#fd71d6 , #894fd1);
    box-shadow: 0px 4px 4px 4px #e0e0e0;
    transition: 0.3s ease-in-out;
}


.animation_check {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #99E2D0;
    width: 60px;
    height: 60px;
    margin-right: -60px;
    border-radius: 0px 25px 25px 0px;
    animation: slideout 0.5s;
  }
  
.animation_check i {
    color: white;
    margin-top: 20px;
}
   
@keyframes slideout {
    0% {
      margin-right: 0px;
    }
    100% {
      margin-right: -60px;
    }
}
  
.animation_area:hover .animation_check {
    display: initial;
    animation: slide 0.5s both 0.1s;
  }
  
.animation_area:hover .animation_check i {
    animation: rotate 1s;
}

@keyframes slide {
    0% {
      margin-right: -60px;
    }
    100% {
      margin-right: 0px;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
  

  


  

 
